Analysis results

I can reproduce the 400 Bad Request with HTTP/2, explicitly clearing the `Content-Length` header:
```
SSLKEYLOGFILE=/tmp/tls.keys curl -v https://cloudflare-dns.com/dns-query -Hcontent-type:application/dns-message --data-binary @<(xxd -ps -r<<<00000100000100000000000003777777076578616d706c6503636f6d0000010001) -Hcontent-length:
```

If I remove `-Hcontent-length:`, then the request succeeds. I guess that it has nothing to do with GREASE, just the `Content-Length` header absense.

For analysis in Wireshark I embedded the decryption secrets that you provided and used this `editcap --inject-secrets tls,keylog.txt input.pcapng output.pcapng` wrapper:
```
git clone https://gist.github.com/Lekensteyn/f64ba6d6d2c6229d6ec444647979ea24 ~/.inject-tls-secrets/inject-tls-secrets.py
ln -s .inject-tls-secrets/inject-tls-secrets.py ~/inject-tls-secrets.py
for i in *pcapng;do ~/inject-tls-secrets.py keylog.txt  "$i";done
```

Then I analyzed the resulting capture, filtering for HTTP/2 or HTTP/3 HEADERS and DATA frames:
```sh
wireshark -r nghttp3-dsb.pcapng -Y "http2.headers or http2.data.data or http3.frame_type in {1,0}"
```

For the output below, I used tshark with some post-processing to make it easier to copy the output:
```sh
tshark -r nghttp3-dsb.pcapng -Y 'http2.headers or http3.frame_type==1' -O http3 | sed -r '/^ {16}.*/d'
```

Frame 13 of quinn-dsb.pcapng triggers a 400 Bad Request and is missing a `content-length` header:
```
Hypertext Transfer Protocol Version 3
    Request Stream
        HEADERS len=31, POST /dns-query
            Type: HEADERS (0x0000000000000001)
            Length: 31
            Frame Payload: 0000d4d7508d2507b649681d855a4a90b90f4f5188624a90b76b4b67afecde
            HTTP3 encoded headers - bytes 0x11389bb90 pos 0 len 31
            [Header Length: 178]
            [Headers Count: 6]
            Header: :method: POST
            Header: :scheme: https
            Header: :authority: cloudflare-dns.com
            Header: :path: /dns-query
            Header: content-type: application/dns-message
            Header: accept: application/dns-message
            [Full request URI: https://cloudflare-dns.com/dns-query]
```

Frame 13 of nghttp3-dsb.pcapng triggers a 200 OK
```
QUIC IETF
Hypertext Transfer Protocol Version 3
    Request Stream
        HEADERS len=46, POST /dns-query
            Type: HEADERS (0x0000000000000001)
            Length: 46
            Frame Payload: 0000d4d7508d2507b649681d855a4a90b90f4f5188624a90b76b4b67af5f508825b650c3cb8595c1ddec54023333
            HTTP3 encoded headers - bytes 0x113b8e7e0 pos 0 len 46
            [Header Length: 211]
            [Headers Count: 8]
            Header: :method: POST
            Header: :scheme: https
            Header: :authority: cloudflare-dns.com
            Header: :path: /dns-query
            Header: user-agent: curl/8.13.0
            Header: accept: */*
            Header: content-type: application/dns-message
            Header: content-length: 33
            [Full request URI: https://cloudflare-dns.com/dns-query]
```

Frame 10 of quiche-dsb.pcapng also triggers a 200 OK:
```
Hypertext Transfer Protocol Version 3
    Request Stream
        Reserved (GREASE) len=0
        Reserved (GREASE) len=18
        HEADERS len=50, POST /dns-query
            Type: HEADERS (0x0000000000000001)
            Length: 50
            Frame Payload: 0000d4d7508d2507b649681d855a4a90b90f4f5188624a90b76b4b67af5f508c25b650c3cb8595c0b5fc1c7fddec5482659f
            HTTP3 encoded headers - bytes 0x113a70ea0 pos 0 len 50
            [Header Length: 215]
            [Headers Count: 8]
            Header: :method: POST
            Header: :scheme: https
            Header: :authority: cloudflare-dns.com
            Header: :path: /dns-query
            Header: user-agent: curl/8.13.0-DEV
            Header: accept: */*
            Header: content-type: application/dns-message
            Header: content-length: 33
            [Full request URI: https://cloudflare-dns.com/dns-query]
        DATA len=33
            Type: DATA (0x0000000000000000)
            Length: 33
            Frame Payload: 00000100000100000000000003777777076578616d706c6503636f6d0000010001
            Data: 00000100000100000000000003777777076578616d706c6503636f6d0000010001
```

I also noticed that Wireshark's HTTP/3 dissector somehow did not dissect the DNS data payload. I'll look into fixing that.

Thanks! Good point about HTTP/2. Our libraries or client code in Hickory DNS might be adding that header somewhere.

The DoH resolver expects the `Content-Length` header such that it can reject invalid DNS request sizes immediately. Since you are not streaming enormous body payloads, is there any reason why you are not buffering the payload and attaching the calculated `content-length` header?

[RFC 9110 Section 8.6. Content-Length](https://www.rfc-editor.org/rfc/rfc9110#section-8.6) says:

> A user agent SHOULD send Content-Length in a request when the method defines a meaning for enclosed content and it is not sending Transfer-Encoding. For example, a user agent normally sends Content-Length in a POST request even when the value is 0 (indicating empty content). A user agent SHOULD NOT send a Content-Length header field when the request message does not contain content and the method semantics do not anticipate such data.

This is referenced from HTTP/3 ([RFC 9114, Section 4.1.2](https://www.rfc-editor.org/rfc/rfc9114.html#section-4.1.2-3)).


I looked more closely at the different clients, and Hickory DNS's HTTP/2 and HTTP/3 clients both set a Content-Length header, while this repository didn't. Since that was just a confounding factor while creating a reduced test case, I'll clean that up and update the README.